    

.videoWrapper{
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.press-thumbnails-container{
    position: absolute;
    top: 12px;
    height: 0;
    margin: 0 auto;
}

.press-thumnail{
    text-align: center;
    margin-right: -12px;
    margin-top: 12px;
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
    .press-container{
        max-width: 768px;
    }
}


@media screen and (max-width: 768px) {
    .press-container{
        padding-top: 100px;
        padding-bottom: 10;
    }
    .video{
        position: relative; 
        width: 280px;
        height: 174px; 
        margin: 0 auto;
        padding-top:100px;
    }
    }