.App {
  /*text-align: center;*/
}

.container {
  margin-top: 68px;
}

/*Header Menu*/

.logo {
  float: left;
  margin: 17px 0px;
}

.header {
  position: fixed;
  top:0;
  background-color: #fff;
  height: 67px;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  vertical-align: middle;
  z-index: 10;
}

.header-container {
  max-width: 1000px;
  margin: 0 auto;
}

.menu {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  text-align: center;
  float: right;
}

.menu li {
  text-align: center;
  vertical-align: middle;
  float: left;
  padding: 26px 26px;
  font-size: 14px;
}

.menu-title {
  text-decoration: none;
  width: 78px;
  height: 24px;
  font-size: 14px;
  text-align: center;
  color: #000000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-title {
  width: 100px;
  height: 24px;
  text-align: start;
  font-size: 16px;
  color: #9b9b9b;
}

.dropdown-title p {
  margin: 0px;
  padding: 0px;
}

.dropdown-content {
  position: absolute;
  margin-top: 28px;
  left: -10px;
  list-style-type: none;
  display: none;
  background-color: #ffffff;
  width: 255px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  z-index: 1;
  padding: 14px 0px;
}

.dropdown-content-210{
  width: 210px;
}

.dropdown-content>li{
  padding: 12px 0px 12px 40px;
  clear: both;
}

.dropdown-content>li:hover .dropdown-title{
  color: #000000;
}

.dropdown-underbar{
  position: relative;
  top:21px;
  margin: 1px -13px;
  z-index: 15;
  display: none;
  height:4px;
  background-color: #00afdb;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover .dropdown-underbar{
  display: block;
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
  .header-container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 58px;
  }
}

/* Mobile Header*/

.mobile-header {
  position: fixed;
  top:0;
  background-color: #fff;
  height: 61px;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  vertical-align: middle;
  z-index: 10;
}

.mobile-logo {
  display: inline-block;
  margin: 12px 0px;
  vertical-align: middle;
}

.mobile-expand {
  display: inline-block;
  padding: 10px 10px 15px 10px;
  font-size: 7px;
  vertical-align: middle;
}

.mobile-menu {
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(74, 74, 74, 0.95);
  overflow-y: scroll;
}

.mobile-menu-close-button {
  color: white;
  float: left;
  padding: 18px;
}

.mobile-menu-list {
  margin: 0px 0px 20px 50px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-align: left;
  clear: both;
  float: left;
}

.narrow {
  margin-bottom: 8px;
}

.disable {
  margin-bottom: 10px;
  font-size: 12px;
  color: #00afdb;
}

.mobile-menu-seperator {
  clear: both;
  float: left;
  display: inline-block;
  width: 100%;
  height:1px;
  background-color: #9b9b9b;
  box-sizing: border-box;
  margin-left: 35px;
  margin-bottom: 20px;
}



/*Footer*/

.App-footer {
  width: 100%;
  background-color: #000;
  height: 50px;
  padding-top: 24px;
  text-align: center;
  color: #ffffff;

  line-height: normal;
}

.App-footer>p {
  font-size: 12px;
  vertical-align: middle;
  line-height: 28px;
  margin: 0;
}


