/* PURPOSE */


.purpose-bg {
    box-sizing: border-box;
    width: 100%;
    /* position: relative; */
    margin-bottom: -190px;
}

.purpose-texts-contatiner {
    box-sizing: border-box;
    /* position: absolute; */
    width: 100%; 
    padding: 30px;
}


/* FEATURE */

.features {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
}

/* .text-hospital-container {
    float: right; 
    box-sizing: border-box;
    width: 50%;
    padding: 30px;
    padding-top: 1100px;
    position: absolute; 
    top: 40%;
    left: 0;
    background: inherit;
}

.text-patient-container {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 30px;
}

.text-doctor-container {
    float: right;
    box-sizing: border-box;
    width: 50%;    
    padding: 30px;
} */

/* SAFETY&EFFICACY */

.text-safety-contatiner {
    box-sizing: border-box;
}

.title {
    text-align: left;
    color: #00afdb;
    font-size: 18px;
    font-weight: bold;
}

.contents {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 80px;
}

.madrs-graph-comp {
    float: right;
    box-sizing: border-box;
    width: 50%;
    padding-right: 30px;
}

.madrs-texts-contatiner {
    box-sizing: border-box;
    padding-right: 50px;
}

.text-safety-contatiner {
    box-sizing:border-box;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}

.text-efficacy-contatiner {
    box-sizing:border-box;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}


/* USE */

.oval {
    box-sizing: border-box;
    width: 100%;
    padding: 50px;
    position: relative;
    display: inline-block;
}

.four-thumbnails {
    box-sizing: border-box;
    width: 100%;
    background-image: url('../../assets/icOvalGradient.svg');
    background-repeat: no-repeat;
    background-position: center center;
    
/*require('../../assets/icOvalGradient.svg')*/
    /* position: absolute; 
    margin-top: -400px;
    padding-bottom: 160px;  */
}

.station {
    box-sizing: border-box;
    width: 50%;
    /* position: absolute;
    top: -220px;
    left: 0px; */
}

.module {
    box-sizing: border-box;
    width: 50%;
    /* position: absolute;
    top: -250px;
    left: 500px; */
}

.band {
    box-sizing: border-box;
    width: 50%;
    /* position: absolute;
    top: 200px;
    left: 0px; */
}

.complete {
    box-sizing: border-box;
    width: 50%;
    /* position: absolute;
    top: 170px;
    left: 500px; */
}

.legal-notice{
    padding-top: 50px;
}


@media screen and (max-width: 768px) {

/* PURPOSE */

.purpose-texts-contatiner {
    clear: both;
    box-sizing: border-box;
    width: 100%;
}

/* FEATURE */

.features{
    width: 100%;
    padding: 30px;
}    

/* 
.text-hospital-container {
    width: 100%;
}

.text-patient-container {
    width: 100%;
}

.text-doctor-container {
    width: 100%;
} */


/* SAFETY&EFFICACY */

    .madrs-graph-comp {
        width: 100%;
        padding: 30px;
        padding-bottom: 100px;
}

    .madrs-texts-contatiner {
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
}

    .text-safety-contatiner {
        box-sizing:border-box;
        width: 100%;

}

    .text-efficacy-contatiner {
        box-sizing:border-box;
        width: 100%;

}

/* USE */

.four-thumbnails {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    background-size: 150%;
}

.station {
    width: 100%;
    padding-bottom: 50px;
}

.module {
    width: 100%;
    padding-bottom: 50px;
}

.band {
    width: 100%;
    padding-bottom: 50px;
}

.complete {
    width: 100%;
}

.legal-notice{
    padding: 30px;
}

}