/* COMMON */

.tech-text-container {
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
}

.tech-contents-title {
    text-align: left;
    color: #00afdb;
    font-size: 18px;
    font-weight: bold;
}

.tech-contents-texts {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 100px;
}


/* HISTORY */

.tree-brain {

    box-sizing: border-box;
    padding: 10px;
    width: 60%;
}

.tech-texts {
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
}

.tech-contents-texts {
    width: 100%;
}



/* MECHANISM */

.brain-anatomy-container{
    box-sizing: border-box;
    width: 100%;
    padding-top:30px;
    padding-bottom: 130px;
}

.brain-xray {
    padding-top: 160px;
    float: left; 
    box-sizing: border-box;
    padding-left:20px;
    padding-right:30px;
    padding-bottom: 100px;
    width: 50%;
}

.brain-anatomy-texts {
    box-sizing: border-box;
    padding-left: 30px; 
    padding-top: 100px;
    padding-bottom: 100px;
    width: 50%;
    float: right;
}

.brain-anatomy-title {
    text-align: left;
    color: #00afdb;
    font-size: 16px;
    font-weight: bold;
}

.brain-anatomy-contents {
    text-align: left;
    font-size: 16px;
    padding-bottom: 14px;
    line-height: 6px;
}

.depression-treatment-container {
    box-sizing: border-box;    
    padding-top: 130px;
    width: 100%;
    float: left; 
}

.treatment-container {
    padding-bottom: 120px;
    margin: 0 auto;
}

.treatment-contents-container1 {
    box-sizing: border-box;
    width: 33%;
    float: left;
    padding-top: 70px;
    padding-left: 4%;
    padding-right: 4%;
}

.treatment-contents-container2 {
    box-sizing: border-box;
    width: 33%;
    display: inline-block;
    padding-top: 70px;
    padding-left: 4%;
    padding-right: 4%;
}

.treatment-contents-container3 {
    box-sizing: border-box;
    width: 33%;
    float: right; 
    padding-top: 70px;
    padding-left: 4%;
    padding-right: 4%;
}

.treatment-imgs {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.tech-treatment-contents {

    padding-top: 30px;
    margin: 0 auto;
    clear: both;
    float: left;
    text-align: left;
    /*width: 120%;*/

    /*padding-left: 40px;*/
    /*text-align: left; */
}

.tech-contents-texts-bottom {
    float: left;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 80px;
}



/* CIRA */

.cira-madrs {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
}

.mards-texts-container {
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 100px;
}

.mards-contents-title {
    font-weight: bold;
    color: #4a4a4a;
    text-align: left;
}

.mards-contents-text {
    padding-top: 40px;
    text-align: left;
    line-height: 1.75;
}

.cira-result-container {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
}

.side-effect-container {
    padding-bottom: 60px;
}

.side-effect-graph {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
}

.side-effect-table {
    box-sizing: border-box;
    width: 50%;
    padding-top: 30px;
    padding: 20px;
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
    .tech-treatment-contents {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {

    .brain-xray {
        width: 100%;
    }

    .brain-anatomy-texts {
        width: 100%;
        clear:both;
    }

    .tech-treatment-contents {
        font-size: 14px;
    }

    .treatment-contents-container1{
        width: 100%;
        padding-left: 15%;
        padding-right: 15%;
    }

    .treatment-contents-container2{
        width: 100%;
        padding-left: 15%;
        padding-right: 15%;
    }

    .treatment-contents-container3{
        width: 100%;
        padding-left: 15%;
        padding-right: 15%;
    }

    .side-effect-graph {
        box-sizing: border-box;
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;
    }

    .side-effect-table {
        box-sizing: border-box;
        width: 100%;
        padding-top: 40px;
}

}
