.App {
  text-align: center;
}


/*Header Menu*/

img {
  float: left;
  margin: 17px ;
}

.App-header {
  position: fixed;
  top:0;
  background-color: #fff;
  height: 71px;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  vertical-align: middle;
  z-index: 10;
}


ul { 
  float: center;
  list-style-type: none;
  margin: 6px;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li {
  text-align: center;
  vertical-align: middle;
  float: left;
  padding: 22px 22px;
}


/*li a:hover {
  background-color: #00afdb;
}*/







/*Footer*/

.App-footer {
  width: 100%;
  bottom:0;
  background-color: #4a4a4a;
  height: 50px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  line-height: normal;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
