.common-contact{
    background-color: #263238;
    width: 100%;
    display: inline-block;
}

.common-contact-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
}

.common-contact-left{
    padding-top: 71px;
    float: left;
    width: 479px;
}

.common-contact-right{
    padding-top: 71px;
    float: left;
    width: 479px;
}

.common-contact-title {
    clear: both;
    font-size: 16px;
    color: #00afdb;
    font-weight: 500;
    margin: 0px;
    text-align: left;
    left: 0;
}

.common-contact-content {
    font-size: 14px;
    text-align: left;
    margin-top: 9px;
    margin-bottom: 24px;
    color: #000000;
}

.common-contact form {
    padding-top: 20px;
    padding-left: 16px;
}

.common-contact-input {
    float: left;
    border: solid 1px #d1d1d1;
    border-radius: 1px;
    line-height: 42px;
    margin-bottom: 14px;
    padding-left: 18px;
    font-size: 14px;
    background-color: #fcfcfc;
    width: 463px;
    box-sizing: border-box;
}
.common-contact .first {
    margin-right:11px;
}
.common-contact .half {
    width: 226px;
    float: left;
}

.common-contact-socialmedia-container {
    width: 100%;
    height:36px;
    margin-bottom: 26px;
}

.common-contact-socialmedia{
    height:36px;
    width: 36px;
    margin-right: 20px;
    margin-top: 12px;
    float: left;
}

.common-contact textarea{
    padding-top: 10px;
    line-height: 25px;
    width: 463px;
    height: 400px;
    box-sizing: border-box;
}

.common-contact-submit {
    margin-top: 14px;
    margin-bottom: 140px;
    border: none;
    float: right;
    font-size: 16px;
    font-weight: medium;
    color:#fff;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    background-color: #00afdb;
}

.map {
    width: 450px;
    height: 360px;
}
