.common-contact{
    background-color: #263238;
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    text-align:center;
}

.common-contact-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 100px;
    padding-bottom: 100px;
    vertical-align: middle;
    display: inline-block;
}


.common-contact-left{
    float: left;
    width: 50%;
}

.common-contact-right{
    display: inline-block;
    float: left;
    width: 50%;
}

.common-contact-title {
    clear: both;
    font-size: 16px;
    color: #00afdb;
    font-weight: 500;
    margin: 0px 0px 12px 0px;
    text-align: left;
    height: 27px;
    letter-spacing: 1.1px;
}

.common-contact-content {
    font-size: 14px;
    text-align: left;
    color: white;
    margin-bottom: 48px;
    font-weight: 400;
    letter-spacing: 0.9px;
}

.common-contact form {
    padding-top: 20px;
    padding-left: 16px;
}

.common-contact-input {
    float: left;
    border: solid 1px #d1d1d1;
    border-radius: 1px;
    line-height: 42px;
    margin-bottom: 14px;
    padding-left: 18px;
    font-size: 14px;
    background-color: #fcfcfc;
    width: 463px;
    box-sizing: border-box;
}
.common-contact .first {
    box-sizing: border-box;
    padding-right: 10px;
}
.common-contact .half {
    width: 226px;
    float: left;
}

.common-contact-socialmedia-container {
    width: 100%;
    display: inline-block;
    margin-bottom: 48px;
}

.common-contact-socialmedia{
    height:36px;
    width: 36px;
    margin-right: 20px;
    float: left;
}

.socialmedia {
    padding-bottom: 20px;
}

.common-contact textarea{
    padding-top: 10px;
    line-height: 25px;
    width: 463px;
    height: 400px;
    box-sizing: border-box;
}

.common-contact-submit {
    margin-top: 14px;
    margin-bottom: 140px;
    border: none;
    float: right;
    font-size: 16px;
    font-weight: medium;
    color:#fff;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    background-color: #00afdb;
}

.map {
    width: 100%;
    height: 353px;
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
    .common-contact-container {
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .common-contact-container {
        padding-top: 51px;
        padding-bottom: 0;
    }
    .common-contact-left{
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        float: left;
    }
    .common-contact-right{
        display: inline-block;
        clear: both;
        float: left;
        width: 100%;
    }

}